gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Ignore root-level google-services.json (keep flavor-specific ones in src/)
app/google-services.json

# Fastlane
fastlane/report.xml
fastlane/README.md
fastlane/test_output/
Gemfile.lock
